
div{
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: 25% 100px auto;
    float: left;
  }
  
  .zero {
    box-sizing: border-box;
    width: 50%;
    
    float: left;
  }

  .one {
    box-sizing: border-box;
    width: 90%;
    
    float: left;
  }

 
section {
    background: grey;
    width: 75%;
    float: right;
    
    }
    
    .Names {
        
        width: 1024px;
        height: 100px;
        background: blue;
        width: 100%;
      }

    .Education {
        background: rgb(252, 16, 16);
        width: 75%;
        
        }
    .SideBar {
        background: rgb(59, 16, 252);
        height: 80%;
        width: 75%;
        
        
        }
  