h1 {
    color: pink;
    width: 60%;
    margin: 5% auto;
}
body{

background: grey;

}

main {
    background: green;
    width: 60%;
    margin: 5% auto;
}
article {
    margin: 1% auto;
    border: solid grey 2px;
    background: blueviolet;
    width: 45%;
}

article: hover {
    background: red;
}

article:hover > h3
 {
    color: blue;
 }