body{
   
    background-size: 200px;
    background-color: lightskyblue;
    border: 1px solid red;
    width: 200px;
 
   
}



section{
    width: 200px;
    background-color: red;
    margin: 0px;
    padding: 0px;
    text-align: right;

}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px dotted red;
    display:flex;
    flex-direction: row;
    background-color: lightgrey;
    width:200px;

}

li{
    border: 1px solid black;
    margin: .5em;
    padding: .5em;
    width:200px;
   
}


    
    
