html, body, .grid-container { height: 100%; margin: 0; }

.grid-container * { 
 
 position: relative;
}

.grid-container *:after { 
 /* content:attr(class); */
 position: absolute;
 top: 0;
 left: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 15% 37.5% 37.5% 10%;
  grid-template-areas: "Header Header Header" "div1 div2 div3" "div4 div5 div6" "Footer Footer Footer";
}

.Header { grid-area: Header; }

.div1 { grid-area: div1;
  
  

}

.div2 { grid-area: div2; }

.div3 { grid-area: div3; }

.div4 { grid-area: div4; }

.div5 { grid-area: div5; }

.div6 { grid-area: div6; }

.Footer { grid-area: Footer; }
