
 body { 
  display: grid;
  grid-template-areas: 
    "header header header"
    "nav article article"
    "footer footer footer";
  grid-template-rows: 80px 1fr 70px;  
  grid-template-columns: 20% 1fr 15%;
  grid-row-gap: 05px;
  grid-column-gap: 05px;
  height: 100vh;
  margin: 5;
  }  
header, footer, article, nav, div {
  padding: -10em;
  background:grey;
  }
#pageHeader {
  grid-area: header;
  background:lightgrey;
  margin: -20px,-20px;
  align-content:top;

  }
#pageFooter {
  grid-area: footer;
  }
#mainArticle { 
  grid-area: article; 
    
  }
#mainNav { 
  grid-area: nav; 
  }

  header{
    /* text-align: left;
    justify-content: center; */
    

  }
  h3{
   line-height: 20px; /* 4px +12px + 4px */

  }
  h4{
   
  margin:05px;
}
h5{
   
  /* margin:0; */
}
  article{
    
    line-height: 16px; 
  }
  footer{
    text-align: center;
  }


/* media query */
@media all and (max-width: 575px) {
  body { 
    grid-template-areas: 
      "header"
      "article"
       "nav"
      "footer";
    grid-template-rows: 80px 1fr 70px 1fr 70px;  
    grid-template-columns: 1fr;
 }

 
}
